NODE_ENV=development

API_PORT=3000
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

MONGO_INITDB_ROOT_USERNAME=dev
MONGO_INITDB_ROOT_PASSWORD=pass
MONGO_DB=mern
MONGO_URI=mongodb://dev:pass@mongo:27017/mern?authSource=admin

VITE_API_BASE=/api
